# --- Laravel ---
/vendor/
/toDo.txt
/.env
/.env.backup
/storage/*.key
!/storage/app/data/data.json 
/storage/pail
/storage/debugbar/
+/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
+/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
+/storage/framework/views/*
!/storage/framework/views/.gitkeep
+/storage/logs/*
!/storage/logs/.gitkeep
/bootstrap/cache/*.php
/public/storage

# --- Frontend / Vite / Vue ---
/node_modules/
/public/build/
/public/hot
/public/mix-manifest.json
/public/css/
/public/js/
npm-debug.log
yarn-error.log
pnpm-debug.log

# --- IDEs & Tools ---
/.idea/
/.vscode/
/.fleet/
/.nova/
/.zed/
/.phpactor.json
/.phpunit.cache
/.phpunit.result.cache
/auth.json

# --- OS files ---
.DS_Store
Thumbs.db

# --- Others ---
Homestead.yaml
Homestead.json
